[defaults]
nocows = True
roles_path = ./roles:/etc/ansible/roles
inventory = .vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
host_key_checking = False
callback_result_format = yaml
interpreter_python = auto_silent

[privilege_escalation]
become = True
